.photo-grid__container {
  width: 90%;
  margin: auto;
  margin-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(2, 48%);
  grid-gap: 16px;
  justify-content: center;
}
