@import url("/pages/normalize.css");
@import url("/fonts/inter.css");
@import url("../blocks/button/button_place_cover.css");
@import url("../blocks/cover/cover.css");
@import url("../blocks/cover/cover__title.css");
@import url("../blocks/cover/cover__text.css");
@import url("../blocks/cover/cover__background.css");
@import url("../blocks/cover/cover__overlay.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/footer__copyright.css");
@import url("../blocks/nftbutton/nftbutton.css");
@import url("../blocks/nftbutton/nftbutton__paragraph.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/header__title.css");
@import url("../blocks/header/header__subtitle.css");
@import url("../blocks/header/header__image.css");
@import url("../blocks/intro/intro.css");
@import url("../blocks/intro/intro__title.css");
@import url("../blocks/intro/intro__text_principal.css");
@import url("../blocks/intro/intro__text_second.css");
@import url("../blocks/intro/intro__text_author-joseph.css");
@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/photo-grid/photo-grid__container.css");
@import url("../blocks/photo-grid/photo-grid__item.css");
@import url("../blocks/places/places.css");
@import url("../blocks/places__place/places__place.css");
@import url("../blocks/places__place/places__place_title.css");
@import url("../blocks/places__place/places__place_titleusa.css");
@import url("../blocks/places__place/places__place_image.css");
@import url("../blocks/places__place/places__place_website.css");
@import url("../blocks/places__place/places__place_url-heading.css");
@import url("../blocks/places__place/places__place_artist.css");
@import url("../blocks/places__place/places__place_paragraphs.css");
@import url("../blocks/places__place/places__place_paragraph.css");
@import url("../blocks/logotipo/logotipo.css");

.page {
  margin: 0 auto;
  background-color: #2a2c2f;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1280px) {
  .page {
    background-color: #2a2c2f;
  }

  .places {
    width: 100%;
  }

  .places__place {
    width: 100%;
    display: grid;
    padding-bottom: 18%;
    justify-content: center;
    grid-template-columns: 40% 45%;
    grid-template-rows: auto auto 68%;
  }

  .places__place_title {
    font-size: 63px;
    font-weight: 800;
    line-height: 70px;
  }

  .places__place_titleusa {
    font-size: 63px;
    font-weight: 800;
    line-height: 70px;
  }

  .places__place_paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }

  .places__place_artist {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }

  .places__place_url-heading {
    width: 20%;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
  }

  .nftbutton__paragraph {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }

  .nftbutton {
    width: 85%;
    height: 45px;
    border-radius: 4px;
    gap: 10px;
  }

  .cover {
    width: 92%;
    height: 690px;
  }

  .button_place_cover:active ~ .cover__overlay {
    opacity: 0.3;
  }
}

@media (max-width: 768px) {
  .page {
    background-color: #2a2c2f;
  }

  .header {
    width: 100%;
  }

  .header__title {
    width: 100%;
  }

  .header__subtitle {
    width: 100%;
  }

  .intro {
    width: 95%;
  }

  .intro__text_principal {
    width: 100%;
  }

  .intro__text_author-joseph {
    width: 100%;
  }

  .intro__text_second {
    width: 100%;
  }

  .photo-grid__container {
    width: 95%;
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(4, 32%);
    column-gap: 2%;
    row-gap: 1.3%;
    justify-content: center;
  }

  .places {
    width: 95%;
  }

  .places__place {
    width: 100%;
    display: grid;
    padding-bottom: 6%;
    justify-content: center;
    row-gap: 4%;
    column-gap: 4%;
    grid-template-columns: 46% 50%;
    grid-template-rows: auto auto 68%;
    grid-template-areas:
      "place__title place__website"
      "place__image place__paragraphs"
      "frame6 place__paragraphs";
  }

  .places__place_title {
    font-size: 46px;
    font-weight: 900;
    line-height: 48px;
  }

  .places__place_titleusa {
    font-size: 46px;
    font-weight: 900;
    line-height: 48px;
    width: 120%;
  }

  .places__place_paragraph {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
  }

  .nftbutton {
    width: 100%;
  }

  .nftbutton__paragraph {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
  }

  .cover {
    width: 85%;
    height: 600px;
    margin-top: 10%;
  }

  .button_place_cover:active ~ .cover__overlay {
    opacity: 0.3;
  }
}

@media (max-width: 590px) {
  .page {
    background-color: #2a2c2f;
  }

  .places {
    width: 100%;
  }

  .places__place {
    width: 100%;
    display: grid;
    padding-bottom: 18%;
    justify-content: center;
    grid-template-columns: 40% 45%;
    grid-template-rows: auto auto 68%;
  }

  .places__place_title {
    font-size: 27px;
    font-weight: 700;
    line-height: 40px;
  }

  .places__place_titleusa {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    width: 120%;
  }

  .places__place_paragraph {
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
  }

  .places__place_artist {
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
  }

  .places__place_url-heading {
    width: 21%;
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
  }

  .nftbutton__paragraph {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }

  .nftbutton {
    width: 100%;
    height: 43px;
    border-radius: 4px;
    gap: 10px;
  }

  .cover {
    width: 85%;
    height: 500px;
  }

  .cover__title {
    width: 100%;
    font-size: 55px;
    font-weight: 900;
    line-height: 60px;
  }

  .cover__text {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }

  .button_place_cover:active ~ .cover__overlay {
    opacity: 0.3;
  }
}

@media (max-width: 320px) {
  .page {
    background-color: #2a2c2f;
  }

  .vector__logo {
    width: 60%;
    height: 2%;
    margin-top: 34px;
    margin-bottom: 40px;
  }

  .header {
    width: 100%;
  }

  .header__title {
    width: 100%;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
  }

  .header__subtitle {
    width: 100%;
    margin-bottom: 36px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }

  .intro {
    width: 95%;
    margin-top: 31px;
  }

  .intro__title {
    width: 100%;
    margin-bottom: 14px;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
  }

  .intro__text_principal {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }

  .intro__text_author-joseph {
    margin-bottom: 7px;
  }

  .photo-grid__container {
    width: 95%;
    margin-top: 28px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(8, 100%);
    grid-gap: 12px;
    justify-content: center;
  }

  .places__place {
    width: 100%;
    display: grid;
    margin-top: 0px;
    padding-bottom: 21px;
    justify-content: center;
    row-gap: 25px;
    grid-template-columns: 320px;
    grid-template-rows: auto auto 320px auto auto 48px;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraphs"
      "place__paragraphs"
      "frame6";
  }

  .places__place_title {
    width: 95%;
    margin: auto;
    font-size: 36px;
    font-weight: 900;
    line-height: 38px;
  }

  .places__place_titleusa {
    width: 95%;
    margin: auto;
    font-size: 36px;
    font-weight: 900;
    line-height: 38px;
  }

  .places__place_website {
    width: 95%;
    margin: auto;
  }

  .places__place_paragraphs {
    width: 95%;
    margin: auto;
  }

  .places__place_paragraph {
    margin: 0;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
  }

  .places__place_artist {
    margin: 0;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
  }

  .places__place_url-heading {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
  }

  .nftbutton {
    width: 95%;
    margin: auto;
  }

  .nftbutton__paragraph {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }

  .cover {
    width: 321px;
    height: auto;
    margin-bottom: 64px;
  }

  .cover__title {
    font-size: 34px;
    font-weight: 900;
    line-height: 35px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .cover__text {
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 16px;
  }

  .button_place_cover {
    height: 16px;
    width: 170px;
    margin-bottom: 10%;
  }
}
