.place {
  width: 100%;
  display: grid;
  padding-bottom: 100px;
  justify-content: center;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto 460px auto;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraphs"
    "frame6 place__paragraphs";
}
