.button_place_cover {
  width: 198px;
  height: 48px;
  padding: 13px, 20px, 13px, 20px;
  border-radius: 4px;
  gap: 10px;
  background-color: #0278fe;
  display: inline-block;
  cursor: pointer;
  grid-area: frame6;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}

.button_place_cover:hover ~ .cover__overlay {
  opacity: 0.3;
}
